*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }

body{
 background: #00000080;
}

header{
    .container{
        .header-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-list{
                display: flex;
                align-items: center;
                gap: 35px;
                .header-home{
                    
                }
            }
        }
    }
}