* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

body {
  background: rgb(23, 23, 23);
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 10px 10px 10px rgb(32, 32, 32);
  background: rgb(58, 58, 58);
  z-index: 999999;
  height: 105px;
}
header .container .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .header-container .header-list {
  display: flex;
  align-items: center;
  gap: 35px;
}
header .container .header-container .header-list .header-home {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8980392157);
}
header .container .header-container .header-list .header-home:hover {
  color: #F4C430;
}
header .container .header-container .header-boglanish {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .container .header-container .header-boglanish .language {
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.8980392157);
}
header .container .header-container .header-boglanish .language .option {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.8980392157);
}
header .container .header-container .header-boglanish .frame {
  width: 18px;
  height: 18px;
}
header .container .header-container .header-boglanish .svyaz {
  border: 1px solid #F4C430;
  border-radius: 100px;
  padding: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
}
header .container .header-container .header-boglanish .svyaz:hover {
  color: #F4C430;
  border: 1px solid #050505;
  border-radius: 100px;
}

main {
  /* SECTION 1 */
}
main .section1 {
  height: 690px;
  background: url("../img/bg4.png") center/cover no-repeat;
  margin-top: 105px;
}
main .section1 .section1-container {
  text-align: center;
  margin-top: 290px;
}
main .section1 .section1-container a {
  border: 1px solid #F4C430;
  color: #fff;
  padding: 15px 22px;
  border-radius: 100px;
  transition: 0.3s;
}
main .section1 .section1-container a:hover {
  border: 2px solid #195cd8;
  color: #195cd8;
}
main .section1 .strelka {
  display: flex;
  justify-content: center;
  margin-top: 290px;
}
main .section1 .strelka img {
  animation: bounce 2s infinite;
}
main {
  /* SECTION 2 */
}
main .section2 {
  margin: 100px 0;
}
main .section2 .section2-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
main .section2 .section2-container .model h2 {
  font-size: 40px;
  margin-bottom: 15px;
}
main .section2 .section2-container .model p {
  width: 380px;
  margin-bottom: 80px;
}
main .section2 .section2-container .section2-kabralet a {
  display: block;
  font-size: 22px;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
}
main .section2 .section2-container .section2-kabralet a:hover {
  color: #F4C430;
  transform: translateX(10px);
}
main {
  /* SECTION 3 */
}
main .section3 {
  text-align: center;
}
main .section3 .section3-nashi {
  font-size: 50px;
  margin-bottom: 20px;
}
main .section3 .non {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 80px;
}
main .section3 .section3-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}
main .section3 .section3-cards .card {
  padding: 40px;
  border-right: 1px solid #444;
  transition: 0.4s;
}
main .section3 .section3-cards .card img {
  background: rgba(109, 109, 109, 0.3019607843);
  border-radius: 50%;
  padding: 18px;
  margin-bottom: 20px;
}
main .section3 .section3-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
main {
  /* SECTION 4 (ENG KATTA TOZALASH) */
}
main .section4 {
  margin: 150px 0;
}
main .section4 .section4-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
main .section4 .section4-container .section4-mers {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: #1e1e1e;
  border-radius: 10px;
  transition: 0.3s;
}
main .section4 .section4-container .section4-mers h2 {
  font-size: 22px;
  color: #ccc;
}
main .section4 .section4-container .section4-mers:hover {
  background: #F4C430;
}
main .section4 .section4-container .section4-mers:hover h2 {
  color: black;
}
main {
  /* SECTION 5 */
}
main .section5 {
  text-align: center;
}
main .section5 .yangilik {
  font-size: 50px;
  margin-bottom: 20px;
}
main .section5 .dora {
  width: 500px;
  margin: 0 auto 70px;
}
main .section5 .section5-title {
  display: flex;
  gap: 20px;
  justify-content: center;
}
main .section5 .section5-title .electiromobil {
  background: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
main .section5 .section5-title .electiromobil:hover {
  transform: scale(1.05);
}
main .section5 .section5-title .electiromobil img {
  width: 100%;
}
main .section5 .section5-title .electiromobil .text {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
main .section5 .section5-title .electiromobil .est {
  padding: 15px;
}
main {
  /* SECTION 6 */
}
main .section6 {
  margin: 150px 0;
}
main .section6 .section6-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
main .section6 .section6-container .section6-aloqa h4 {
  font-size: 50px;
}
main .section6 .section6-container .section6-aloqa a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid #444;
}
main .section6 .section6-container .section6-aloqa button {
  margin-top: 40px;
  padding: 20px 80px;
  border: 1px solid #F4C430;
  border-radius: 100px;
  background: none;
  color: #fff;
  transition: 0.3s;
}
main .section6 .section6-container .section6-aloqa button:hover {
  border-color: #207ae1;
  color: #207ae1;
}
main .section6 .section6-container .adres {
  background: #2F2F2F;
  padding: 40px;
  border-radius: 10px;
}
main {
  /* SECTION 7 */
}
main .section7 {
  height: 500px;
  background: url("../img/lacation.png") center/cover no-repeat;
}

/* ANIMATION */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
footer .container .finish {
  text-align: center;
  padding-bottom: 50px;
}
footer .container .finish img {
  margin-bottom: 45px;
}
footer .container .finish a {
  padding: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.3803921569);
}
footer .container .finish a:hover {
  color: rgb(58, 58, 222);
}

@media (max-width: 1150px) {
  header .container .header-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  main .section1 {
    width: 100%;
    background-position: center;
  }
  main .section2 .container .section2-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  main .section3 .container .section3-container .section3-cards {
    flex-wrap: wrap;
  }
  main .section5 .container .section5-title {
    flex-direction: column;
  }
  footer .container .finish a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1050px) {
  header .container .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .container .header-container .header-list {
    display: none;
  }
  header .container .header-container .header-boglanish {
    display: none;
  }
  header .container .header-container img {
    width: 20%;
  }
  main .section1 {
    width: 100%;
    background-position: center;
  }
  main .section2 .container .section2-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  main .section2 .container .section2-container .model img {
    width: 60%;
  }
  main .section2 .container .section2-container .model .com {
    width: 15%;
  }
  main .section3 .container .section3-container .section3-cards {
    flex-wrap: wrap;
  }
  main .section5 .container .section5-title {
    flex-direction: column;
  }
  footer .container .finish a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 525px) {
  header .container .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .container .header-container .header-list {
    display: none;
  }
  header .container .header-container .header-boglanish {
    display: none;
  }
  header .container .header-container img {
    width: 20%;
  }
  main .section1 {
    width: 100%;
    background-position: center;
  }
  main .section2 .container .section2-container {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  main .section2 .container .section2-container .model img {
    width: 60%;
  }
  main .section2 .container .section2-container .model .com {
    display: none;
  }
  main .section2 .container .section2-container .model p {
    width: 220px;
    font-size: 12px;
  }
  main .section3 .container .section3-container .section3-nashi {
    font-size: 24px;
  }
  main .section3 .container .section3-container .non {
    font-size: 12px;
    width: 280px;
  }
  main .section3 .container .section3-container .section3-cards {
    flex-wrap: wrap;
  }
  main .section5 .container .section5-container .dora {
    font-size: 12px;
    width: 280px;
  }
  main .section5 .container .section5-title {
    flex-direction: column;
  }
  main .section6 .container .section6-container .section6-aloqa h4 {
    font-size: 28px;
  }
  main .section6 .container .section6-container .section6-aloqa .Amet {
    width: 320px;
    font-size: 12px;
  }
  footer .container .finish a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */