*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }

body{
 background: rgb(23, 23, 23);
}

header{
     position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 10px rgb(32, 32, 32);
    background: rgb(58, 58, 58);
    z-index: 999999;
    height: 105px;    
    
    .container{
        .header-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-list{
                display: flex;
                align-items: center;
                gap: 35px;
                .header-home{
                     font-weight: 500;
                     font-size: 20px;
                     line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFFE5;
                }
                .header-home:hover{
                    color: #F4C430;
                }
            }

            .header-boglanish{
                display: flex;
                align-items: center;
                gap: 25px;

                .language{
                    border: none;
                    background: none;
                     color: #FFFFFFE5;
                    .option{
                         font-weight: 500;
                         font-size: 20px;
                         line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFFE5;
                    }
                }
                .frame{
                    width: 18px;
                    height: 18px;
                }
                .svyaz{
                    border: 1px solid #F4C430;
                    border-radius: 100px;
                    padding: 13px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFF;
                }
                .svyaz:hover{
                    color: #F4C430;
                     border: 1px solid #050505;
                     border-radius: 100px;
                }
            }
        }
    }
}


main{
    .section1{
  height: 690px;
  background-image: url("../img/bg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    margin-top: 105px;
             .container{
            .section1-container{
                text-align: center;
                margin-top: 290px;
                a{
                     border: 1px solid #F4C430;
                     color: #FFFFFF;
                     padding-left: 22px;
                     padding-right: 22px;
                     padding-top: 15px;
                     padding-bottom: 15px;
                     font-weight: 500;
                     font-size: 15px;
                     line-height: 100%;
                    letter-spacing: 0%;
                    border-radius: 100px;
                }
                a:hover{
                     border: 3px solid #195cd8;
                     color: #195cd8;
                      border-radius: 100px;
                }
             }

             .strelka{
                 display: flex;
                align-items: end;
                justify-content: center;
                img{
                margin-top: 290px;
             }
             }
         }
    }

    .section2{
        .container{
            .section2-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 100px;
                margin-top: 87px;
                margin-bottom: 180px;
                .model{
                    h2{
                        font-weight: 600;
                        font-size: 40px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFFDE;
                        margin-bottom: 15px;
                    }
                    p{
                         font-weight: 500;
                         font-size: 16px;
                         line-height: 23px;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                        width: 380px;
                        margin-bottom: 120px;
                    }
                    .com{
                       margin-left: 270px;
                    }
                }

                .section2-kabralet{
                    .section2-chiziqcha{
                        display: flex;
                        align-items: center;
                        gap: 14px;
                        margin-bottom: 25px;
                         h3{
                        font-weight: 700;
                        font-size: 30px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFF;
                       
                    }
                    .seo{
                         border-right: 2px solid #F4C430;
                         background: #F4C430;
                         width: 37px;
                         height: 2px;
                    }
                    }
                    a{
                        display: flex;
                        align-items: end;
                        justify-content: end;
                        padding: 10px;
                         font-weight: 500;
                         font-size: 25px;
                         line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFFAD;
                    }
                    a:hover{
                        color: #F4C430;
                    }
                }
            }
        }
    }

    .section3{
        .container{
            .section3-container{
                .section3-nashi{
                     font-weight: 600;
                     font-size: 50px;
                     line-height: 100%;
                    letter-spacing: 0%;
                    color: #FFFFFFDE;
                    text-align: center;
                    margin-bottom: 27px;
                }
                .non{
                    width: 500px;
                     font-weight: 500;
                     font-size: 16px;
                     line-height: 27px;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #FFFFFFAD;
                    margin: 0 auto;
                }

                .section3-cards{
                    margin-top: 90px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 50px;
                    margin-bottom: 150px;
                    .card{
                       text-align: center;
                        img{
                            background: #6D6D6D4D;
                            border-radius: 100px;
                            padding: 18px;
                           margin-bottom: 30px;
                        }
                        p{
                             font-weight: 500;
                             font-size: 16px;
                             line-height: 30px;
                            letter-spacing: 0%;
                            text-align: center;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            margin-bottom: 60px;
                        }
                        a{
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-align: center;


                        }
                    }

                    .card2{
                       text-align: center;
                        img{
                            background: #6D6D6D4D;
                            border-radius: 100px;
                            padding: 18px;
                           margin-bottom: 30px;
                        }
                        p{
                            width: 180px;
                             font-weight: 500;
                             font-size: 16px;
                             line-height: 30px;
                            letter-spacing: 0%;
                            text-align: center;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            margin-bottom: 30px;
                        }
                        a{
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-align: center;


                        }
                    }


                     .card3{
                       text-align: center;
                        img{
                            background: #6D6D6D4D;
                            border-radius: 100px;
                            padding: 18px;
                           margin-bottom: 30px;
                        }
                        p{
                            width: 195px;
                             font-weight: 500;
                             font-size: 16px;
                             line-height: 30px;
                            letter-spacing: 0%;
                            text-align: center;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            margin-bottom: 30px;
                        }
                        a{
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-align: center;


                        }
                    }


                     .card4{
                       text-align: center;
                        img{
                            background: #6D6D6D4D;
                            border-radius: 100px;
                            padding: 18px;
                           margin-bottom: 30px;
                        }
                        p{
                            width: 250px;
                             font-weight: 500;
                             font-size: 16px;
                             line-height: 30px;
                            letter-spacing: 0%;
                            text-align: center;
                            text-transform: capitalize;
                            color: #FFFFFF;
                            margin-bottom: 30px;
                        }
                        a{
                            font-weight: 400;
                            font-size: 17px;
                            line-height: 100%;
                            letter-spacing: 0%;
                            text-align: center;


                        }
                    }
                }
            }
        }
    }


    .section4{
        .container{
            .section4-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 60px;
                .section4-mers{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    h2{
                         font-weight: 500;
                         font-size: 25px;
                         line-height: 100%;
                        letter-spacing: 0%;
                        color: #FFFFFFCC;
                    }
                }
            }
        }
    }


}